<button id="{{button_id}}" type="button" class='centered facebook with-left-icon' onclick='loginToFacebook("{{button_id}}");'>
    <i class="fab fa-facebook-f fa-lg space-right"></i>Login with Facebook
</button>
