<a class='github-login-link' href="https://github.com/login/oauth/authorize?scope=user:email&client_id=93e1a698aee8637fc133">
    <button id="{{button_id}}" type="button" class='centered github with-left-icon'>
        <i class="fab fa-github fa-lg space-right"></i>Login with Github
    </button>
</a>
