<div id="auth-modal" class="modal-container" hidden>
    <div id="auth-modal-background" class="modal-background">
        <div class="modal">
            <button onclick="closeAuthModal()" class="close-auth-modal-button">close</button>
            {{> registration_form}}
            {{> login_form}}
        </div>
    </div>
</div>