<div id="auth-modal" class="modal-container" hidden>
    <div class="modal-background">
        <div class="modal">
            <button onclick="closeAuthModal()">close</button>
            {{> registration_form}}
            {{> login_form}}
        </div>
    </div>
</div>
