<form id="registrationForm">
    <div class="auth-form">
        <label>Email</label>
        <input id="emailInput" type="email" placeholder="email">
        <input id="emailVerifyInput" type="email" placeholder="verify email">
        <label>Password</label>
        <input id="passwordInput" type="password" placeholder="password">
        <input id="passwordVerifyInput" type="password" placeholder="verify password">
        
        {{!-- Registration Form Submit Button --}}
        <button type="submit" class="primary">SIGN UP</button>

        {{!-- Switch to sign up button --}}
        <div>Already a member? <span class="toggle-auth-modal" onclick="openAuthModal('login')">Login</span></div>

        <hr class="social-auth-rule" />
        <div class="social-auth-or-divider"><div class='or-container'>OR</div></div>
        {{> facebook_login_button button_id='facebook-registration-button'}}
    </div>
</form>

<script>
    // attach onsubmit to form
    var registrationForm = document.getElementById("registrationForm")
    registrationForm.addEventListener('submit', submitRegistrationForm)

    // submit form method
    function submitRegistrationForm(e) {
        e.preventDefault()
        // get form and values
        var email = document.getElementById("emailInput").value
        var emailVerify = document.getElementById("emailVerifyInput").value
        var password = document.getElementById("passwordInput").value
        var passwordVerify = document.getElementById("passwordVerifyInput").value
        
        // validation

        // make sure all fields are filled out
        configureToastr('top-full')
        if (!email.trim()) return toastr.error('Please enter an email')
        if (!emailVerify.trim()) return toastr.error('Please enter the email again for verification')
        if (!password.trim()) return toastr.error('Please enter a password')
        if (!passwordVerify.trim()) return toastr.error('Please enter the password verification')

        // verify that fields match with verification fields
        if (email.trim() !== emailVerify.trim()) return alert('emails do not match')
        if (password.trim() !== passwordVerify.trim()) return alert('passwords do not match')

        // validate that password passes password rules

        // submit data to server
        axios({
            method: 'post',
            url: "{{registerAndLoginRoute}}",
            data: {
                emailAddress: email,
                password: password
            }
        // handle server response
        }).then(res => {

            // add token to local storage
            var authTokenKey = "{{authTokenKey}}"
            var authToken = res.data[authTokenKey]
            localStorage.setItem(authTokenKey, authToken)

            // redirect to application
            setTimeout(function() {
                return window.location.href = "{{appUrl}}" + '?'  + authTokenKey + '=' + authToken
            }, 450)

        })
        .catch(error => {
            if (error.response.data.code === 11000 && error.response.data.errmsg.includes('emailAddress')) {
                    configureToastr('top-full')
                    toastr.error('Please login', email + ' is already registered')
                    openAuthModal('login')
                    var loginEmailInput = document.getElementById("loginEmailInput")
                    loginEmailInput.value = email

            }
        })
    }
</script>