<h2>Register</h2>
<input type="email" placeholder="email">
<input type="email" placeholder="verify email">
<input type="password" placeholder="password">
<input type="password" placeholder="verify password">