<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" type="text/css" href="/normalize.css"> 
    <link rel="stylesheet" type="text/css" href="/skeleton.css"> 
    <link rel="stylesheet" type="text/css" href="/index.css"> 
    <script src="https://kit.fontawesome.com/70d985023f.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    <div id="main">
        <div class="body-container">
            {{{body}}}
        </div>
        {{> footer}}
    </div>
</body>
</html>