<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/normalize.css"> 
    <link rel="stylesheet" type="text/css" href="/skeleton.css"> 
    <link rel="stylesheet" type="text/css" href="/index.css"> 
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    <div id="main">
        {{{body}}}
    </div>
</body>
</html>